                <div class="inner-category">
                  <div class="logo"></div>
                  <div class="category-title">공사공정<br/>관리<br/>시스템</div>
                  <div class="category-menu">
                      <button>Dash<br/>Board</button>
                      <button class="active">공정<br/>관리</button>
                      <button>자재<br/>관리</button>
                      <button>자산<br/>관리</button>
                      <button ng-click="goVOLTUI()">VOLT<br/>UI</button>
                  </div>
                </div>