                    <table class="table table-bordered t-table">
                        <tbody>
                            <tr>
                                <td class="title">방송사</td>
                                <td class="company" colspan="3">
                                    <input type="text" class="form-control" placeholder="" ng-model="broad_code">
                                    <input type="text" class="form-control" placeholder="" ng-bind="broad_name">
                                </td>
                            </tr>
                            <tr>
                                <td class="title">공사구분</td>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 선로공사
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 관로공사
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 보상공사<br/>
                                    </label>
                                    <label class="checkbox-inline" style="padding-left: 10px;">
                                        <input type="checkbox" id="inlineCheckbox4" value="option4"> 도급공사
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox5" value="option5"> 비용공사
                                    </label>
                                </td>
                                <td class="title">설계코드</td>
                                <td style="width: 250px;" class="va-m">
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                            </tr>
                            <tr>
                                <td class="title">예산계정</td>
                                <td class="td-budget">
                                    <select class="form-control-user1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control-user1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control-user1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="title">설계명</td>
                                <td style="width: 250px;" class="va-m">
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                            </tr>
                            <tr>
                                <td class="title">노무구분</td>
                                <td class="td-work" colspan="3">
                                    <input type="text" class="form-control" placeholder="">
                                    <label class="checkbox-inline f-l va-m">
                                        <input type="checkbox"> 노무구분 변경
                                    </label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>