
<div class="menu-item">
	<div class="menu-title" ng-repeat-start="menu1ST in menu1STs | menufilter:stMenu" ng-click="showTwoDepth(menu1ST.MENU_ID)">
		{{menu1ST.DESCRIPTION}}<span class="caret"></span>
	</div>
	<ul class="depth-1" ng-repeat-end ng-model="menu1ST.MENU_ID">
		<li>
			<span class="glyphicon glyphicon-plus-sign"></span>{{menu1ST.DESCRIPTION}}
			<ul class="depth-2" ng-model="menu1ST.MENU_ID">
				<li ng-repeat="menu1ST in menu1STs | menufilter:menu1ST.MENU_ID" ng-click="goContentsMenu(menu1ST.MENU_ID)"><span class="icon">┗</span>{{menu1ST.DESCRIPTION}}</li>
			</ul>
		</li>
	</ul>
</div>
<div class="user-info">
	<div class="user">
		<div>
			<span class="glyphicon glyphicon-user"></span>&nbsp;홍길동 님
		</div>
	</div>
	<div class="user-btn">
		<button class="btn btn-tboard-user">로그아웃</button>
		<button class="btn btn-tboard-user">설정</button>
	</div>
</div>