
<h4 class="t-title">공사설계서 생성</h4>
<table class="table table-bordered t-table">
	<tbody>
		<tr>
			<td class="title">기준년월</td>
			<td>
				<div class="f-l" style="width: 200px">
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-calendar"></span>
						<!-- <input ng-model="search_text" type="text" id="datepicker"
							class="form-control" placeholder=""> -->
						<input type="date" ng-model="$parent.search_text" required/>
					</div>
				</div>
				<button id="btn_search" class="btn f-l btn-tboard" ng-click="search();">조회</button>
			</td>
		</tr>
	</tbody>
</table>
<div class="button-group-r">
	<button class="btn btn-tboard" ng-click="init();">초기화</button>
	<button class="btn btn-tboard" ng-click="save();">저장</button>
	<button class="btn btn-tboard" ng-click="delete();">삭제</button>
</div>