					<h4 class="t-title">설계서 현황</h4>
                    <div class="specification">
						<div class="box-content">
							<ng-react-grid grid="grid"></ng-react-grid>
							<button type="button" ng-click="edit()" ng-show="!isEditing()">Edit Grid</button>
						    <button type="button" ng-click="save()" ng-show="isEditing()">Save Grid</button>
						    <button type="button" ng-click="cancel()" ng-show="isEditing()">Cancel</button>
						    Selections: {{selections}}<br/>Clicked On Record: {{clickedOnRecord}}
						</div>
                    </div>
                    <script>
                    console.log("melong");</script>