<div class="dialog-header">
    <h3>Table Dialog</h3>
</div>
<div class="dialog-content">
    <div>
        {{ ngDialogData.helperData }}
    </div>
    <div>
		<table class="table table-bordered t-table">
			<tbody>
				<tr>
					<td class="title">예산계정</td>
					<td style="width: 80px;" class="va-m">
						<select class="form-control-user1" ng-model="$parent.action_two.NM_USER">
						<option>최두현</option>
						<option>박창선</option>
						<option>이현태</option>
						<option>양대진</option>
						</select>
					</td>
					<td class="title">설계명</td>
					<td style="width: 150px;" class="va-m"><input type="text"
						class="form-control" placeholder=""></td>
				</tr>
			</tbody>
		</table>
    </div>
	<div class="box-content">
		<ng-react-grid grid="grid"></ng-react-grid>
	</div>
    <div>
        <button class="confirm right" ng-click="confirm()">{{ngDialogData.confirm}}</button>
        <button class="cancel" ng-click="closeThisDialog()">{{ngDialogData.close}}</button>
    </div>
</div>
<script>
</script>