
<div class="menu-item">
	<div class="menu-title">
		asd1f<span class="caret"></span>
	</div>
	<ul class="depth-1">
		<li><span class="glyphicon glyphicon-plus-sign"></span> Menu 1
			<ul class="depth-2">
				<li><span class="icon">┗</span>라</li>
				<li><span class="icon">┗</span>라</li>
				<li><span class="icon">┗</span>라</li>
			</ul></li>
		<li><span class="glyphicon glyphicon-plus-sign"></span> Menu 2
			<ul class="depth-2">
				<li><span class="icon">┗</span>라</li>
				<li><span class="icon">┗</span>라</li>
				<li><span class="icon">┗</span>라</li>
			</ul></li>
	</ul>
</div>
<div class="user-info">
	<div class="user">
		<div>
			<span class="glyphicon glyphicon-user"></span>&nbsp;홍길동 님
		</div>
	</div>
	<div class="user-btn">
		<button class="btn btn-tboard-user">로그아웃</button>
		<button class="btn btn-tboard-user">설정</button>
	</div>
</div>