			<!-- start: Content -->
			<div id="content" class="col-sm-11">
				<div class="row">	
					<div class="col-lg-12">
						<div class="box">

							<div class="box-header">
								<h2><i class="fa fa-bullhorn"></i><span class="break"></span>tFrame Property Dao</h2>
								<div class="box-icon">
									<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
									<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
									<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="box-content alerts">
								<div class="alert alert-warning">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<h4 class="alert-heading">Property Dao Example Result</h4>
									<p>{{tframe_param_dao_result}}</p>
								</div>
							</div>
							
							<div class="box-header">
								<h2><i class="fa fa-bullhorn"></i><span class="break"></span>tFrame Property Dao JSON</h2>
								<div class="box-icon">
									<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
									<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
									<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="box-content alerts">
								<div class="alert alert-warning">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<h4 class="alert-heading">Property Dao JSON Example Result</h4>
									<p>{{tframe_param_dao_json_result}}</p>
								</div>
							</div>

							<div class="box-header">
								<h2><i class="fa fa-bullhorn"></i><span class="break"></span>tFrame Property Dao Test</h2>
								<div class="box-icon">
									<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
									<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
									<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="box-content alerts">
								<div class="alert alert-warning">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<h4 class="alert-heading">Property Dao Test Example Result</h4>
									<p>{{tframe_param_dao_test_result}}</p>
								</div>
							</div>
						</div>
					</div><!--/col-->
				</div><!--/row-->
			</div>
			<!-- end: Content -->